/*
This website was created to help students from the school 'Schule des Friedens' to activate their word keys.
You are not allowed to use this code for your own website!
*/

/* Creator: itzeuke */


html {
    scroll-behavior: smooth;
}


body {
    margin: 0px;
    background-color: rgb(227, 227, 227);
    font-family: 'Open Sans', sans-serif;
}

/* Set's the navbar to the top of the webpage */

.navcontainer {
    position: fixed;
    top: 0px;
}

/* Navigationbar */

.navbar {
    display: flex;
    width: 100vw;
    height: 60px;
    background-color: rgb(187, 187, 187);
    border: 2.5px solid gray;
    align-items: center;
    justify-content: center;
}

/* Elements in the navbar */

.navelement {
    padding: 10%;
}

/* URL's in the navbar */

.anchor {
    text-decoration: none;
    color: black;
    font-family: Verdana;
    font-size: 110%;
}

.anchor:hover {
    text-decoration: underline;
}



.section {
    background-color: rgb(239, 239, 239);
    width: 70vw;
    margin: auto;
    padding: 1% 3%;
}


/* Set's the header from the webpage under the navbar and add's space to the next section */

#header {
    margin-top: 90px;
    margin-bottom: 20px;
}


#license {
    margin-top: 20px;
    margin-bottom: 3%;
}

.tutorial-flex, .tutorial-flex2 {
    display: flex;
    align-items: center;
    border-top: 1px solid gray;
    margin-top: 20px;
}

.text-flex {
    margin: 20px 5%;
    width: 50%;
}
.img-flex {
    width: 35%;
    margin-top: 20px;
}

.img-size {
    width: 100%;
    height: auto;
}




/* DISPLAY LAYOUTS FOR MOBILE AND SMALLER LAPTOPS*/

@media only screen and (max-width: 1024px) {

    .column {
        display: block;
    }

}


@media only screen and (max-width: 750px) {

    .section {
        width: 90vw;
    }

    #navelement-left, #navelement-right {
        margin-left: 2%;
    }
    
    .navelement {
        padding: 7%;
    }

    #header {
        margin-top: 70px;
        margin-bottom: 3%;
    }

    #license {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .tutorial-flex {
    flex-direction: column;
    }

    .tutorial-flex2 {
        flex-direction: column-reverse;
    }

    .img-flex {
        width: 85%;
    }

    .text-flex {
        width: 100%;
    }

    .img-size {
        width: 50%;
        height: auto;
    }

}


@media only screen and (max-width: 600px) {

    .section {
        width: 90vw;
    }

    #navelement-left, #navelement-right {
        margin-left: 2%;
    }
    
    .navelement {
        padding: 7%;
    }

    #header {
        margin-top: 70px;
        margin-bottom: 3%;
    }

    #license {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .tutorial-flex {
    flex-direction: column;
    }

    .tutorial-flex2 {
        flex-direction: column-reverse;
    }

    .img-flex {
        width: 85%;
    }

    .text-flex {
        width: 100%;
    }

    .img-size {
        width: 100%;
        height: auto;
    }

}



@media only screen and (max-width: 400px) {

    .column {
        display: block;
    }

    .section {
        width: 90vw;
    }

    #navelement-left, #navelement-right {
        margin-left: 2%;
    }
    
    .navelement {
        padding: 7%;
    }

    #header {
        margin-top: 70px;
        margin-bottom: 3%;
    }

    #license {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .tutorial-flex {
    flex-direction: column;
    }

    .tutorial-flex2 {
        flex-direction: column-reverse;
    }

    .img-flex {
        width: 80%;
    }

    .text-flex {
        width: 100%;
    }

}